@{
    ViewBag.Title = "Liên hệ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Liên hệ</h2>
<p>Nếu bạn cần hỗ trợ, vui lòng liên hệ qua email: support@qlbv.vn hoặc số điện thoại: 1900 1234.</p>
